@tailwind base;
@tailwind components;
@tailwind utilities;

/* 모든 페이지 CSS */
/* ...module.css는 특정 페이지만 */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  margin: 0;
  background: #303030;
  color: #fff;
}

/* .title {
  font-size: 40px;
  margin-top: 150px;
  font-weight: 700;
  text-align: center;
}

.sub-title {
  font-size: 24px;
  margin-top: 20px;
  text-align: center;
} */

.food {
  margin: 20px auto;
  width: 200px;
  background: #fff;
  color: #000;
  padding: 20px;
  border-radius: 5px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
